<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="description" content="Free geoguess game" />
    <link
      rel="icon"
      type="image/x-icon"
      href="<%= env.BASE_URL %>images/favicon.ico"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="<%= env.BASE_URL %>images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="<%= env.BASE_URL %>images/favicon-16x16.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="<%= env.BASE_URL %>images/apple-touch-icon.png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!--<link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />-->
    <title>Geoguess Master - Free geoguess game</title>
    <script type="module">
      // Import the functions you need from the SDKs you need
      import { initializeApp } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-app.js";
      // TODO: Add SDKs for Firebase products that you want to use
      // https://firebase.google.com/docs/web/setup#available-libraries
    
      // Your web app's Firebase configuration
      const firebaseConfig = {
        apiKey: "AIzaSyDOzHduXlxUkWrsCpbg43VuP8907cEW0sg",
        authDomain: "geogeoguessr-9eb02.firebaseapp.com",
        projectId: "geogeoguessr-9eb02",
        storageBucket: "geogeoguessr-9eb02.appspot.com",
        messagingSenderId: "894806500523",
        appId: "1:894806500523:web:a916af1c02f1da99d943ee"
      };
    
      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
    </script>
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
